<a href="https://colab.research.google.com/github/rozario-lamperouge/Machine-Learning-Course/blob/master/Python_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello all")

Hello all

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
pi = 3.14
print('pi')

pi

In [ ]:
a = 132
b = 3.2
c = "richard1243"
d = True
e = False

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
a = 10
b = 25
print(a+b)
print(a-b)
print(a*b)
print(b//a)
print(a%b)

35
-15
250
2
10

In [ ]:
a= 10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
not True and True or (False and True) and False
False and True or False and False
False or False

False

In [ ]:
(a < b) and (a >= b) or ((a==b) and (a <= b)) and not (a !=b)
True and False or (False and True) and not True
False or False and False
False and False

False

In [3]:
age = 10

if(age > 18):
  print("major")
else:
  print('minor')

minor

In [ ]:
age = int(input())
ht = int(input())
wt = int(input())
if (age>18 or ht>5 or wt>60):
  print("if part")
else:
  print("else part")

20
4
40
if part

In [ ]:
print(age>18)

True

In [ ]:
user = input()
password = input()
if (user=='Richard' and password=='1234'):
  print("Welcome Richard!")
elif (user=='varshini' and password=='5678'):
  print("Welcome Varshini!")
elif (user=='Ramya' and password=='001'):
  print("Welcome Ramya")
else:
  print("Invalid user.")

Ramya
001
Welcome Ramya

In [ ]:
10 - 30 = grade d
30 - 50 = grade c
50 - 70 = grade b
70 - 100 grade a
below 10 = fail

In [ ]:
mark=int(input())
if (mark>=10 and mark<=30):
  print("grade D")
elif (mark>30 and mark<=50):
  print("grade C") 
elif (mark>50 and mark<=70):
  print("grade B")   
elif ( mark>70 and mark<=100):
  print("grade A")  
else: 
  print("fail")

8
fail

In [ ]:
for i in range(1,21):
  print(i*2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [ ]:
i = 10

while (i <= 20):
  print(i)
  i = i + 1
print("end of while.. rip")

10
11
12
13
14
15
16
17
18
19
20
end of while.. rip

In [15]:
for a in range(2,12,2):
  print(a)

2
4
6
8
10

In [22]:
i = 0

while(i < 10):
  print('major')
  print(i)
  i = i + 1

major
0
major
1
major
2
major
3
major
4
major
5
major
6
major
7
major
8
major
9

In [24]:
while False:
  print("heyyy")

In [29]:
def sqr(x):
  print(x*x)

sqr(2)
sqr(4)
sqr(5)

4
16
25

In [32]:
def greet():
  print("WELCOME TO MY WEBSITE")

greet()
greet()

WELCOME TO MY WEBSITE
WELCOME TO MY WEBSITE

In [34]:
def add(a,b):
  return(a + b)

ans = add(20,30)
print(ans)

50

In [35]:
l = [20, 30, 60 , "richard", 3.5]

<class 'list'>

In [41]:
print(l[1:3])
print(l[0:4])

[30, 60]
[20, 30, 60, 'richard']

In [46]:
l.append(10)
print(l)

[20, 30, 60, 'richard', 3.5, 10]

In [45]:
l.pop()
print(l)

[20, 30, 60, 'richard', 3.5]

In [47]:
t = (90, 40, 50, 100)
print(type(t))

<class 'tuple'>

In [ ]:
t.append(2)

In [49]:
d = {"one":"Earth",
     "two":"Mars",
     "three":"Venus"}

print(type(d))

<class 'dict'>

In [52]:
print(d["two"])

Mars

In [58]:
#is is a dictionary
d1 = {"name":"Richard",
      "age" : 22,
      }

In [55]:
print(d1['age'])

22

In [62]:
num = 25
srt = num**0.5
print(srt)

5.0

In [63]:
import math
math.sqrt(25)

5.0