<a href="https://colab.research.google.com/github/rozario-lamperouge/Machine-Learning-Course/blob/master/Python_Basics/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variables**

A variable is a name that stores a value in memory.
It acts like a label for data you want to use or modify later.

In [ ]:
Pi = 3.14
print(Pi)

3.14

**Variable Naming Rules**

‚úÖ Allowed:

- Can start with a letter or underscore (_)

- Can contain letters, digits, and underscores

- Case-sensitive (age, Age, and AGE are different)

‚ùå Not allowed:

- No spaces ‚Üí user name ‚ùå

- No special characters ‚Üí user-name ‚ùå

- Cannot start with a digit ‚Üí 1st_name ‚ùå

- Cannot use reserved keywords ‚Üí for, while, class, etc.

In [ ]:
user_age = 25     # ‚úÖ valid
UserAge = 25      # ‚úÖ valid (different variable)
user-age = 25     # ‚ùå invalid (hyphen not allowed)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-2089166078.py, line 3)

## **Datatypes**

In [ ]:
a = False

print(a, type(a))

False <class 'bool'>

In [ ]:
a = 10            # int
print(a, type(a))

b = 10.5          # float
print(b, type(b))

c = "Hello"       # str
print(c, type(c))

d = True          # bool
print(d, type(d))

10 <class 'int'>
10.5 <class 'float'>
Hello <class 'str'>
True <class 'bool'>

## **Operators**

**Math Operators**

In [ ]:
a = 10
b = 20

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

30
-10
200
0.5
0
10

**Comparision Operators**

In [ ]:
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

**Logical Operators**

In [ ]:
not (a != b)

False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
not True and True or (False and True) and False

False

In [ ]:
(a < b) and (a >= b) or ((a==b) and (a <= b)) and not (a != b)

False

##**Getting Inputs from user**

In [ ]:
name = input()
print(name)

Richard
Richard

In [ ]:
name = input("Enter your name :")
print("Hello", name)
print(type(name))

Enter your name :Richard
Hello Richard
<class 'str'>

In [ ]:
i = bool(input())
print(type(i))

True
<class 'bool'>

In [ ]:
num1 = int(input("Enter First Number :"))
num2 = int(input("Enter Second Number :"))

total = num1 + num2
print("the total of", num1, "and", num2, "is", total)

Enter First Number :20
Enter Second Number :40
the total of 20 and 40 is 60

## **If Condition**

In [ ]:
age = int(input("Enter your age :"))

print(age > 18)

if(age > 18):
  print("you are eligible to vote")

Enter your age :10
False

In [ ]:
age = int(input("Enter your age :"))

print(age > 18)

if(age > 18):
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

Enter your age :10
False
you are not eligible to vote

In [ ]:
num = int(input("Enter a number :"))

if(num > 0):
  print("the number is positive")
else:
  print("the number is negative")

Enter a number :10
the number is positive

In [ ]:
iseven = int(input("Enter a number :"))

if(iseven % 2 == 0):
  print("This is a even number")
else:
  print("This is a odd number")

Enter a number :17
This is a odd number

In [ ]:
username = input("enter your username :")
password = input("enter your password :")

if(username == "Richard" and password == "1234"):
  print("Login Successful")
else:
  print("Login Failed")

enter your username :Richard
enter your password :2341
Login Failed

**Elif Statement**

In [ ]:
marks = int(input("Enter your marks :"))

if(marks >= 90):
  print("Grade A")
elif(marks >= 80):
  print("Grade B")
elif(marks >= 70):
  print("Grade c")
elif(marks >= 60):
  print("Grade D")
elif(marks >= 50):
  print("Grade E")
else:
  print("Grade F")

Enter your marks :40
Grade F

In [ ]:
temp = int(input("Enter the temperature :"))

if temp < 0:
    print("‚ùÑÔ∏è Freezing cold!")
elif temp < 15:
    print("ü•∂ Cold")
elif temp < 25:
    print("üå§Ô∏è Pleasant")
elif temp < 35:
    print("‚òÄÔ∏è Warm")
else:
    print("üî• Hot")

Enter the temperature :40
üî• Hot

In [ ]:
# Dicount amount indentification - Elif Statement

amount = int(input("Enter the purchased amount :"))

if amount >= 5000:
    print("üí∞ 20% discount applied.")
elif amount >= 2000:
    print("üí∏ 10% discount applied.")
elif amount >= 1000:
    print("üéÅ 5% discount applied.")
else:
    print("üôÇ No discount available.")

Enter the purchased amount :900
üôÇ No discount available.

## **Comments**

In [ ]:
# this is a single line comment

In [ ]:
''' this is one line,
 line 2

if(age > 18):
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

 line 3'''

## **Loops**

In [ ]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

**For Loop**

In [ ]:
for i in range(0, 11, 2):
  print("hello")
  print("i =", i)

hello
i = 0
hello
i = 2
hello
i = 4
hello
i = 6
hello
i = 8
hello
i = 10

In [ ]:
for i in range(inital = 0, end-value, increment = 1):

**While Loop**

In [ ]:
i = 0

while (i < 15):
  print("hello")
  print("this is iteration number", i)
  i = i + 1

hello
this is iteration number 0
hello
this is iteration number 1
hello
this is iteration number 2
hello
this is iteration number 3
hello
this is iteration number 4
hello
this is iteration number 5
hello
this is iteration number 6
hello
this is iteration number 7
hello
this is iteration number 8
hello
this is iteration number 9
hello
this is iteration number 10
hello
this is iteration number 11
hello
this is iteration number 12
hello
this is iteration number 13
hello
this is iteration number 14

## Functions

1. Define your function
2. Call your function

In [ ]:
# Defining my Function
def greeting():
  print("Hello")
  print("How are you?")

# Calling my function
greeting()

Hello
How are you?

**Functions with arguments**

In [ ]:
def sumofnum(num1, num2):
  total = num1 + num2
  print("the total of", num1, "and", num2, "is", total)

sumofnum(10, 20)
sumofnum(36, 89)
sumofnum(100, 200)
sumofnum(67, 889)

the total of 10 and 20 is 30
the total of 36 and 89 is 125
the total of 100 and 200 is 300
the total of 67 and 889 is 956

**Functions with return value**

In [ ]:
def square(x):
  square = x*x
  return square

output = square(5)
print(output, output**0.5)

25 5.0

## **String Operations**

In [ ]:
a = "Python is the Best Programming Language"
b = '   python   '
print(a)
print(b)

Python is the Best Programming Language
   python

In [ ]:
print(len(a))
print(len(b))

39
12

In [ ]:
print(a.upper())
print(a.lower())

PYTHON IS THE BEST PROGRAMMING LANGUAGE
python is the best programming language

In [ ]:
print(b)
print(b.strip())

   python
python

In [ ]:
a = a.replace("Best","Perfect")
a = a.replace("the","a")
print(a)

Python is a Perfect Programming Language

In [ ]:
if "is" not in a:
  print("true")
else:
  print("False")

False

In [ ]:
a = "Richard"
b = "Rozario"

print(a +  b)

# concatenation
print(a + " " + b + " " + "Says Hello")

RichardRozario
Richard Rozario Says Hello

In [ ]:
# string multiplication
print(a * 5)

RichardRichardRichardRichardRichard

In [ ]:
for i in "Programming":
  print("i =",i)

  if i in "aeiou":
    print("vowel")
  else:
    print("consonant")

i = P
consonant
i = r
consonant
i = o
vowel
i = g
consonant
i = r
consonant
i = a
vowel
i = m
consonant
i = m
consonant
i = i
vowel
i = n
consonant
i = g
consonant

## **List & List Operations**

In [ ]:
l = [10, 20, 30, "Richard", 4.5]
print(l)

[10, 20, 30, 'Richard', 4.5]

In [ ]:
print(type(l))

<class 'list'>

In [ ]:
#    -5  -4  -3     -2       -1    Reverse Indexing
l = [10, 20, 30, "Richard", 4.5]
#    0    1   2     3        4     Forward Indexing
print(l)

[10, 20, 30, 'Richard', 4.5]

In [ ]:
print(l[-2])

name = l[-2]
print(name)

Richard
Richard

In [ ]:
l[1:-1]

[20, 30, 'Richard']

In [ ]:
# List slicing

print(l[0:3])
print(l[1:4])
print(l[2:0])
print(l[:2])

[10, 20, 30]
[20, 30, 'Richard']
[]
[10, 20]

In [ ]:
print(l[-4:-1])
print(l[-3:4])

[20, 30, 'Richard']
[30, 'Richard']

In [ ]:
# multability - ability to modify the items in your datatype
# Lists are mutable

l[3] = "Python"
print(l)

[10, 20, 30, 'Python', 4.5]

In [ ]:
# Add values to the list
l.append("Hello")
print(l)

[10, 20, 30, 'Python', 4.5, 'Hello']

In [ ]:
# Remove values from the list
l.pop()
print(l)

[10, 20, 30, 'Python', 4.5]

In [ ]:
l1 = [29, 47, 85, 12, 94, 6]

In [ ]:
# Sort in ascending order
l1.sort()
print(l1)

# Sort in descending order
l1.sort(reverse=True)
print(l1)

# reversing a list
l1.reverse()
print(l1)

[6, 12, 29, 47, 85, 94]
[94, 85, 47, 29, 12, 6]
[6, 12, 29, 47, 85, 94]

In [ ]:
# Max Value
print(max(l1))

# Min Value
print(min(l1))

# length
print(len(l1))

94
6
6

In [ ]:
print(l1)

[6, 12, 29, 47, 85, 94]

In [ ]:
for i in l1:
  print("i =",i)

i = 6
i = 12
i = 29
i = 47
i = 85
i = 94

## **Tuples**

In [ ]:
t = (10, 20, 30, 7 , 4.5)
print(type(t))

<class 'tuple'>

In [ ]:
print(t[-3: -1])

(30, 7)

In [ ]:
print(len(t))
print(min(t))
print(max(t))

5
4.5
30

In [ ]:
print(t[0:3])
print(t[-4:])

(10, 20, 30)
(20, 30, 7, 4.5)

## **Dictionary**

In [ ]:
D = {1:"richard", 2:"john", 3:"peter"}
print(type(D))

<class 'dict'>

In [ ]:
# Dictionary - Key:Value Pairs

d = {"one":"Earth",
     "two":"Mars",
     "three":"Venus"}

print(type(d))

<class 'dict'>

In [ ]:
# Dictionary[Key] => Value
print(d["two"])

Mars

In [ ]:
# Adding new items

d["two"] = "mars"
d["four"] = "jupyter"
print(d)

{'one': 'Earth', 'two': 'mars', 'three': 'Venus', 'four': 'jupyter'}

In [ ]:
# Deleting items

d.pop('four')
print(d)

{'one': 'Earth', 'two': 'mars', 'three': 'Venus'}

In [ ]:
for k in d:
  print(k, d[k])

one Earth
two mars
three Venus

In [ ]:
marks = {"Alice": 85, "Bob": 78, "Charlie": 92}

for name, score in marks.items():
    print(name, "scored", score)

Alice scored 85
Bob scored 78
Charlie scored 92

## **Exception Handling**

In [ ]:
print("welcome")

# rand = 300

try:
  print(rand)
except:
  print("the error has been silenced")

welcome
the error has been silenced

In [ ]:
# z = 3

try:
  print(z)
except:
  print("the error has been silenced")
finally:
  print("done checking for errors")

the error has been silenced
done checking for errors